$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$border-radius: 16px;
$opacity: 0.6;


.info-button {
  font-family: $font-family;

  position: absolute;
  top:  32px;
  left: 32px;

  margin: auto;
  padding: 16px 32px;

  border: none;
  border-radius: $border-radius;
  opacity: $opacity;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: $font-family;

  background-color: white;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
  padding: 32px;

  width: 60%;
  height: 60%;

  border-radius: $border-radius;
  opacity: $opacity;

  overflow-y: scroll;
}

.text-box > h2 {
  text-align: center;
}

.text-box > p {
  text-align: left;
}
